<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">  
  
<configuration>  
    <settings>  
        <setting name="cacheEnabled"                    value="false"/>  
        <setting name="useGeneratedKeys"              value="true"/>  
        <setting name="defaultExecutorType"           value="BATCH"/>  
        <setting name="defaultStatementTimeout"     value="3000"/>  
    </settings>  
    
    <typeAliases>
        <typeAlias type="net.hellofootball.domain.article.Article" alias="Article"/>
        <typeAlias type="net.hellofootball.domain.article.Comment" alias="Comment"/>
        <typeAlias type="net.hellofootball.domain.article.CommentVO" alias="CommentVO"/>
        <typeAlias type="net.hellofootball.domain.news.News" alias="News"/>
        <typeAlias type="net.hellofootball.domain.user.User" alias="User"/>
        <typeAlias type="net.hellofootball.jfile.service.impl.JFileVO" alias="JFile"/>
    </typeAliases>
  
    <mappers>  
        <mapper resource="net/hellofootball/map/article-sql.xml"/>
        <mapper resource="net/hellofootball/map/comment-sql.xml"/>
        <mapper resource="net/hellofootball/map/news-sql.xml"/>
        <mapper resource="net/hellofootball/map/user-sql.xml"/>
        <mapper resource="net/hellofootball/map/club-sql.xml"/>
        <mapper resource="net/hellofootball/map/people-sql.xml"/>
        <mapper resource="net/hellofootball/map/jfile-sql.xml"/>
    </mappers>  
  
</configuration> 